#app {
	font: bold 16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
  background-color: #fff;
  width: 300px;
  text-align: center;
  padding: 10px;
}
#app input {
  width: 40px;
  margin: 3px;
	border: 2px solid #567567;
  text-align: center;
}

#timeclock {
  width: 1px;
  margin-bottom: 10px;
  border-collapse: collapse;
	background-color: #eef;
}
#timeclock th {
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 0px 6px;
}
#timeclock td {
  text-align: center;
}

#stats {
	font-family: monospace;
	font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  margin-left: 10px;
}
#stats td {
  padding-left: 20px;
}

.lunch {
  color: #567567;
}
.shift {
  color: #567;
}

input#lunchBegin, input#lunchEnd {
	border: 2px solid #789789;
}
input#shiftBegin, input#shiftEnd {
	border: 2px solid #567;
}
